@import "../../App.scss";

/* Font Size Variables */
$font-size-lg: 2.5rem;
$font-size-md: 2rem;
$font-size-sm: 1.5rem;

$description-font-size-lg: 1.2rem;
$description-font-size-md: 0.9rem;
$description-font-size-sm: 0.8rem;

/* About Component */
.about {
  max-width: $max-screen-width;
  margin: 0 auto;

  &__container {
    display: flex;
    flex-direction: column;
    padding: 50px $page-padding-large;
  }

  &__section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    padding: 50px 0;
    text-align: end;

    &.reverse {
      flex-direction: row-reverse;
      text-align: start;
    }

    /* Text Container */
    .about__text-container {
      flex: 0 0 calc(60% - 1.5rem);
      max-width: calc(60% - 1.5rem);
      display: flex;
      flex-direction: column;
      justify-content: center;

      .about__title {
        font-family: "Orbitron", sans-serif;
        font-size: $font-size-lg;
        margin-bottom: 1rem;

        /* Responsive Font Sizes */
        @media (max-width: $large-screen-width) {
          font-size: $font-size-md;
        }

        @media (max-width: $medium-screen-width) {
          font-size: $font-size-sm;
        }
      }

      .about__description {
        font-family: "Poppins", sans-serif;
        font-size: $description-font-size-lg;
        color: $gray1;
        line-height: 1.6;

        /* Responsive Font Sizes */
        @media (max-width: $large-screen-width) {
          font-size: $description-font-size-md;
        }

        @media (max-width: $medium-screen-width) {
          font-size: $description-font-size-sm;
        }
      }
    }

    /* Image Container */
    .about__image-container {
      flex: 0 0 calc(40% - 1.5rem); /* Adjust for the gap */
      max-width: calc(40% - 1.5rem);
      display: flex;
      justify-content: center;
      align-items: center;

      .about__image {
        width: 90%;
        height: auto;
        border-radius: 50%;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
        object-fit: cover;
      }
    }

    /* Responsive Styles */
    @media (max-width: $medium-screen-width) {
      flex-direction: column;
      gap: 1.5rem;

      &.reverse {
        flex-direction: column;
      }

      .about__image-container,
      .about__text-container {
        flex: 0 0 100%;
        max-width: 100%;
      }

      .about__text-container {
        text-align: center;
        align-items: center; /* Center text on smaller screens */
      }

      .about__image-container {
        max-width: 300px;

        .about__image {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .orange-glow {
    color: $charity-tree-light;
    @include apply-glow($charity-tree, $charity-tree, $charity-tree-dark);
  }

  /* Adjust padding for smaller screens */
  @media (max-width: $medium-screen-width) {
    padding: 0 $page-padding-small;
    &__section {
      padding-bottom: 60px;
    }
  }
}
