@import "../../App.scss";

/* About Component */
.about {
  display: flex;
  justify-content: center;

  &__container {
    max-width: 800px;
    text-align: center;
    padding: 0 $page-padding-large;
    margin-bottom: 80px;
  }

  img {
    width: 50%;
    min-width: 200px;
    max-width: 500px;
    margin: 50px 0;
    aspect-ratio: 1;
    border-radius: 50%;
    @include apply-glow("border-color", $primary-dark, $primary, $primary);
  }

  h1 {
    margin-bottom: 5px;
    font-size: 48px;
  }

  p {
    padding: 12px 0;
  }

  @media(max-width: $medium-screen-width) {
    padding: 0 $page-padding-small;

    img {
      margin: 25px;
    }
  }

  @media(max-width: $small-screen-width) {
    h1 {
      font-size: 32px;
    }

    p {
      font-size: 12px;
      padding: 8px 0;
    }
  }
}
