@import "../../App.scss";

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - $navbar-height);
  min-height: 600px;
  padding: 0 $page-padding-large;

  &__container {
    max-width: 800px;
    text-align: center;
  }

  h1 {
    font-size: 48px;
    margin-bottom: 16px;
  }

  p {
    font-size: 1.2rem;
    margin-bottom: 40px;
    line-height: 1.5;
  }

  &__icons {
    display: flex;
    justify-content: center;
    gap: 2rem;

    .contact__icon {
      font-size: 2.5rem;
      color: $white;
      cursor: pointer;
      transition: transform 0.3s ease;
      border-bottom: none;

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  @media (max-width: $medium-screen-width) {
    padding: 0 $page-padding-small;
  }

  @media (max-width: $small-screen-width) {
    h1 {
      font-size: 32px;
    }

    p {
      font-size: 1rem;
    }

    &__icons {
      .contact__icon {
        font-size: 2rem;
      }
    }
  }
}
