@import "../../App.scss";

.localify-project-page {
  display: flex;
  justify-content: center;
  max-width: $max-screen-width;
  padding: 0 $page-padding-large;
  margin: 50px 0 80px 0;

  .project-header {
    text-align: center;
    padding: 32px 0;
    background: linear-gradient(135deg, $primary, $secondary);
    color: $white;
    border-radius: 12px;
    margin-bottom: 32px;


    h1 {
      margin: 0;
      font-size: 48px;
    }

    .tagline {
      color: $gray1;
      margin-top: 8px;
      font-size: 20px;
    }
  }

  .project-section {
    background: $background-light;
    border-radius: 12px;
    padding: 36px;
    margin-bottom: 32px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

    h2 {
      border-bottom: 2px solid $primary;
      padding-bottom: 8px;
      margin-bottom: 24px;
      font-size: 32px;
    }

    p {
      margin-bottom: 16px;
      font-size: 16px;
      line-height: 1.8;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        background: $gray3;
        color: $white;
        display: inline-block;
        padding: 8px 16px;
        border-radius: 4px;
        margin-right: 8px;
        margin-bottom: 8px;
        font-size: 14px;
      }
    }
  }

  .contributions {
    .contribution-item {
      margin-bottom: 32px;
      padding-bottom: 24px;
      border-bottom: 1px solid $gray1;

      h3 {
        font-size: 24px;
        margin-bottom: 12px;
        color: $primary;
      }
    }
  }

  .papers {
    .paper {
      margin-bottom: 32px;
      padding: 16px;
      border-left: 4px solid $primary;
      background: $gray3;
      border-radius: 6px;

      h3 {
        font-size: 24px;
        margin-bottom: 12px;
      }
    }
  }

  .gratitude {
    p {
      font-style: italic;
      text-align: center;
    }
  }
}

// Responsive
@media (max-width: $medium-screen-width) {
  .localify-project-page {
    padding: 0 $page-padding-small;

    .project-header {
      padding: 24px 16px;

      h1 {
        font-size: 32px;
      }

      .tagline {
        font-size: 16px;
      }
    }

    .contributions {
      .contribution-item {
        padding-bottom: 6px;
        margin-bottom: 24px;

        h3 {
          font-size: 16px;
        }
      }
    }

    .project-section {
      padding: 24px;

      h2 {
        font-size: 20px;
      }

      p {
        margin-bottom: 16px;
        font-size: 12px;
        line-height: 1.5;
      }

      .paper {
        h3 {
          font-size: 16px;
        }
      }
    }
  }
}

