// Imports
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// Variables
$background:          #0E0E0E;
$background-light:    #181818;

$white:               #FFFFFF;
$gray1:               #CCCCCC;
$gray2:               #AAAAAA;
$gray3:               #212121;

$primary-dark:        #397D7E;
$primary:             #3F8A8B;
$primary-light:       #5AB1B3;

$secondary-dark:      #9A609A;
$secondary:           #BC6AB9;
$secondary-light:     #DD75D8;

$localify-dark:       #B32F47;
$localify-light:      #E65670;
$localify:            #E84865;

$charity-tree-dark:   #D38012;
$charity-tree:        #F49416;
$charity-tree-light:  #FFB451;

$porchfest-dark:      #3A5A40;
$porchfest-light:     #49D162;

$small-screen-width:  600px;
$medium-screen-width: 900px;
$large-screen-width:  1200px;
$xl-screen-width:     1500px;

$max-screen-width:    2000px;

$navbar-height:       60px;

$page-padding-large:  calc(30px + 5%);
$page-padding-small:  calc(20px + 3%);


// Global Styles
html, body {
  background-color: $background;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1, h2, h3, h4 {
  font-family: "Orbitron", sans-serif;
  color: $white;
  margin: 0;
}

h5, h6, p {
  font-family: "Poppins", sans-serif;
  color: $gray2;
  margin: 0;
}

@function glow($colors...) {
  $text-shadows: ();
  $index: 1;

  @each $color in $colors {
    @if $index == 1 {
      $text-shadows: append($text-shadows, 0 0 5px #{$color}, comma);
    } @else if $index == 2 {
      $text-shadows: append($text-shadows, 0 0 10px #{$color}, comma);
    } @else {
      $text-shadows: append($text-shadows, 0 0 20px #{$color}, comma);
    }

    $index: $index + 1;
  }

  @return $text-shadows;
}

@mixin apply-glow($type: "color", $colors...) {
  @if $type == "color" {
    text-shadow: #{glow($colors...)}; // Properly invoke the glow function
  } @else if $type == "background-color" {
    box-shadow: #{glow($colors...)}; // Properly invoke the glow function
  } @else if $type == "border-color" {
    border: 1px solid nth($colors, 1);
    box-shadow: #{glow($colors...)}; // Properly invoke the glow function
  } @else {
    @warn "Unsupported type #{$type}. Defaulting to text-shadow.";
    text-shadow: #{glow($colors...)}; // Properly invoke the glow function
  }
}

.primary-text-glow {
  color: $primary-light;
  @include apply-glow($primary, $primary, $primary-dark);
}

.secondary-text-glow {
  color: $secondary-light;
  @include apply-glow($secondary, $secondary, $secondary-dark);
}



