// Variables
$background:          #0E0E0E;
$white:               #FFFFFF;

$gray1:               #AAAAAA;
$gray2:               #1D1D1D;

$primary-dark:        #397D7E;
$primary:             #3F8A8B;
$primary-light:       #5AB1B3;

$secondary-dark:      #9A609A;
$secondary:           #BC6AB9;
$secondary-light:     #DD75D8;

$localify-dark:       #B32F47;
$localify-light:      #E65670;
$localify:            #E84865;

$charity-tree-dark:   #D38012;
$charity-tree:        #F49416;
$charity-tree-light:  #FFB451;

$porchfest-dark:      #3A5A40;
$porchfest-light:     #49D162;


html, body {
  background-color: $background;
}

.App {
  display: flex;
  justify-content: center;
  text-align: center;
}

//Default text color
h1, h2, h3, h4, h5, h6 {
  color: $white;
}

p {
  color: $gray1;
}

//Make text glow
@function glow($colors...) {
  $text-shadows: ();
  $index: 1;

  @each $color in $colors {
    @if $index == 1 {
      $text-shadows: append($text-shadows, 0 0 5px #{$color}, comma);
    } @else if $index == 2 {
      $text-shadows: append($text-shadows, 0 0 10px #{$color}, comma);
    } @else {
      $text-shadows: append($text-shadows, 0 0 20px #{$color}, comma);
    }

    $index: $index + 1;
  }

  @return $text-shadows;
}

@mixin glow($colors...) {
  text-shadow: glow($colors...);
  animation: glow 1.5s infinite alternate;
}

.glow-white {
  @include glow($white, $white);
}

